$black: #000000;
$white: #FFFFFF;
$light-gray: #C9C9C9;
$dark-gray: #585858;
$blue: #3FB4E8;
$green: #46FFE7;
$pink: #FF539A;

$default-font: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;