// Include all of the partials.
@import 'partials/variables';

.gagner-normal {

  padding: 20px 10px;
  border: 1px solid $black;
  background: $gray;
  display: inline-block;
  cursor: pointer;

}

.gagner-light {

}

.gagner-dark {

}